<!DOCTYPE html>
<html>
<head>
  {% include 'include/header.html' %}
  <style>
    body {
      font-family: Times new roman;
      overflow-x: hidden;
    }
    .center {
        text-align: center;
    }
  </style>
  <title>User Login</title>
</head>
<body>
  {% include 'include/navbar.html' %}
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% elif category == 'error' %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
  <div class = center>
  <h1><b> User Login Page</b></h1>
  </div>
  <div class="img">
    <div class="container">
      <div class="card w-50 mx-auto my-3 float-center">
        <div class="card-header text-center">Login Form</div>
        <div class="card-body">
          <form method="post" action="{{ url_for('home') }}" onsubmit="return validateForm()">
            {{ csrf_token }}
            <div class="form-group">
              <label>Email address</label>
              <input type="email" name="user-email" id="user-email" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="user-password" id="user-password" class="form-control" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% include 'include/footer.html' %}
</body>
</html>
